<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{% endblock title %}</title>

    {% block styles %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation-icons.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    {% endblock styles %}

    {% block head_scripts %}
      <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
    {% endblock head_scripts %}
  </head>
  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">AllMenus</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          {% if 'username' not in session %}
            <li><a href="{{ url_for('showLogin')}}" data-reveal-id="loginModal" data-reveal-ajax="true"><i class="fi-torso"></i> Login</a></li>
          {% else %}
            <li><a href="{{ url_for('disconnect') }}#"><i class="fi-torso"></i> Logout</a></li>
          {% endif %}
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="{{ url_for('showRestaurants') }}"><i class="fi-home"></i> Show All Restaurants</a></li>
        </ul>
      </section>
    </nav>

    <div id="formModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog"></div>

    <div id="deleteModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog"></div>

    <div id="loginModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog"></div>

    <div class="row">
      <div class="small-12 columns">

        {% with messages = get_flashed_messages() %}
          {% if messages %}

            {% for message in messages %}

              <div data-alert class="alert-box success radius">
                {{ message }}
                <a href="#" class="close">&times</a>
              </div>

            {% endfor %}

          {% endif %}
        {% endwith %}

        {% block content %}

        {% endblock content %}

      </div>
    </div>

    {% block footer_scripts %}
      <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
      <script src="{{ url_for('static', filename='js/foundation/foundation.js') }}"></script>
    {% endblock footer_scripts %}
    <script>
      $(document).foundation({
        {% block foundation_call %}{% endblock foundation_call %}
      });
    </script>
  </body>
</html>
