{% extends "base.html" %}

{% block title %}
AllMenus
{% endblock title %}

{% block content %}
  <div class="text-center">
    <h1>{{ restaurant.name }}</h1>
  </div>

  {% if items %}

    <div class="row">
      <div class="magellan-container" style="" data-magellan-expedition="fixed" data-options="destination_threshold:65; throttle_delay:0;">
        <dl class="sub-nav">
          {% for course in courses %}
            <dd data-magellan-arrival="{{ course }}s"><a href="#{{ course }}s">{{ course }}s</a></dd>
          {% endfor %}
        </dl>
      </div>

      {% for course in courses %}
        <div class="small-12 columns panel">
          <h3 data-magellan-destination="{{ course }}s">{{ course }}s</h3>
          <a name="{{ course }}s"></a>

          <div class="row" data-equalizer>

            {% for i in items %}

              {% if i.course == course %}

                {% set creator = getUserInfo(i.user_id) %}

                <div class="small-12 medium-6 large-4 columns end">
                  <ul class="pricing-table" data-equalizer-watch>
                    <li class="title">{{ i.name }}</li>
                    <li class="price">{{ i.price }}</li>
                    <li class="description">{{ i.description }}</li>
                    {% if current_user.id == creator.id %}
                      <li class="cta-button">
                        <div class="cta-button-td">
                          <ul class="button-group even-2 radius">
                            <li><a href="{{ url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}" class="button tiny" data-reveal-id="formModal" data-reveal-ajax="true">Edit</a></li>
                            <li><a href="{{ url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}" class="button tiny" data-reveal-id="deleteModal" data-reveal-ajax="true">Delete</a></li>
                          </ul>
                        </div>
                      </li>
                    {% else %}
                      <li class="bullet-item">Created by {{ creator.username }}</li>
                    {% endif %}
                  </ul>

                </div>

              {% endif %}

            {% endfor %}

          </div>

        </div>

      {% endfor %}
    </div>

  {% else %}
    <p>No menu items have been listed.</p>
  {% endif %}

</div>

<a href="{{ url_for('newMenuItem', restaurant_id = restaurant.id) }}" class="button small expand" data-reveal-id="formModal" data-reveal-ajax="true">New menu item</a>
<a href="{{ url_for('showRestaurants') }}" class="button small expand">Back to Restaurants</a>

{% endblock content %}

{% block footer_scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/foundation/foundation.equalizer.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation/foundation.magellan.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation/foundation.reveal.js') }}"></script>
{% endblock footer_scripts %}

{% block foundation_call %}
  equalizer : {
    equalize_on_stack: true,
    act_on_hidden_el: false
  },
  "magellan-expedition": {
    active_class: 'active',
    threshold: 0,
    destination_threshold: 20,
    throttle_delay: 50,
    fixed_top: 0,
    offset_by_height: true
  }
{% endblock foundation_call %}
