{% extends "base.html" %}

{% block title %}
AllMenus
{% endblock title %}

{% block content %}
  <div class="text-center">
    <h1>Welcome to AllMenus</h1>
    <h1><small>If it has a menu, you'll find it here</small></h1>
  </div>

  <div class="row" data-equalizer>

    {% if restaurants %}

      {% for r in restaurants %}

        {% set creator = getUserInfo(r.user_id) %}

        <div class="small-12 medium-6 large-4 columns text-center end">
          <div class="panel radius" data-equalizer-watch>
            <h5><strong>{{ r.name }}</strong></h5>
            <div class="show-for-small-only">
              <a href="{{ url_for('showMenu', restaurant_id = r.id) }}" class="button small radius expand">See menu</a>
              {% if current_user.id == creator.id %}
                <a href="{{ url_for('editRestaurant', restaurant_id = r.id) }}" class="button small radius expand" data-reveal-id="formModal" data-reveal-ajax="true">Edit</a>
                <a href="{{ url_for('deleteRestaurant', restaurant_id = r.id) }}" class="button small radius expand" data-reveal-id="deleteModal" data-reveal-ajax="true">Delete</a>
              {% else %}
                <p>Created by {{ creator.username }}</p>
              {% endif %}
            </div>
            <div class="hide-for-small-only">
              <a href="{{ url_for('showMenu', restaurant_id = r.id) }}" class="button tiny radius expand">See menu</a>
              {% if current_user.id == creator.id %}
                <ul class="button-group radius even-2">
                  <li><a href="{{ url_for('editRestaurant', restaurant_id = r.id) }}" class="button tiny" data-reveal-id="formModal" data-reveal-ajax="true">Edit</a></li>
                  <li><a href="{{ url_for('deleteRestaurant', restaurant_id = r.id) }}" class="button tiny" data-reveal-id="deleteModal" data-reveal-ajax="true">Delete</a></li>
                </ul>
              {% else %}
                <p>Created by {{ creator.username }}</p>
              {% endif %}
            </div>
          </div>
        </div>

      {% endfor %}

    {% else %}

      <h4>No restaurants have been listed.</h4>

    {% endif %}

    <div class="small-12 columns">
      <a href="{{ url_for('newRestaurant') }}" class="button radius small expand" data-reveal-id="formModal" data-reveal-ajax="true">Add New Restaurant</a>
    </div>
  </div>

{% endblock content %}

{% block footer_scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/foundation/foundation.equalizer.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation/foundation.reveal.js') }}"></script>
{% endblock footer_scripts %}

{% block foundation_call %}
  equalizer : {
    // Specify if Equalizer should make elements equal height once they become stacked.
    equalize_on_stack: true,
    // Allow equalizer to resize hidden elements
    act_on_hidden_el: false
  }
{% endblock foundation_call %}
