{% extends "modal.html" %}

{% block head_scripts %}
  {{ super() }}
  <script type="text/javascript">
    function cancel() {
      window.location.href = "{{ url_for('showRestaurants') }}";
    }
  </script>
{% endblock head_scripts %}

{% block content %}

  <h1 class="text-center">Delete {{ restaurant.name }}?</h1>
  <h3 class="subheader text-center">This cannot be undone.</h3>

  <form action="{{ url_for('deleteRestaurant', restaurant_id = restaurant.id) }}" method="post">

    <input type="submit" value="Yes">
    <input type="button" value="No" onclick="cancel()">

  </form>

{% endblock content %}
