{% extends "foundation/base.html" %}

{% import "foundation/fixes.html" as fixes %}

{% block head %}
  {{ super() }}
  {{ fixes.ie8() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
  <script type="text/javascript">
    function cancel() {
      window.location.href = "{{ url_for('showMenu', restaurant_id = restaurant_id) }}";
    }
  </script>

{% endblock head %}

{% block content %}

  <h1>Are you sure you want to delete {{ item.name }}?</h1>

  <form action="{{ url_for('deleteMenuItem', restaurant_id = item.restaurant_id, menu_id = item.id) }}" method="post">

    <input type="submit" value="Yes">
    <input type="button" value="No" onclick="cancel()">

  </form>

{% endblock content %}
