{% extends "base.html" %}

{% block title %}
AllMenus
{% endblock title %}

{% block head_scripts %}
  {{ super() }}
  <script type="text/javascript">
    function cancel() {
      window.location.href = "{{ url_for('showRestaurants') }}";
    }
  </script>
{% endblock head_scripts %}

{% block content %}

  <h1>Are you sure you want to delete {{ restaurant.name }}?</h1>

  <form action="{{ url_for('deleteRestaurant', restaurant_id = restaurant.id) }}" method="post">

    <input type="submit" value="Yes">
    <input type="button" value="No" onclick="cancel()">

  </form>

{% endblock content %}
