{% extends "modal.html" %}

{% block content %}

  <form action="{{ url_for('editMenuItem', restaurant_id = item.restaurant_id, menu_id = item.id) }}" method="post">

    <div class="row">
      <div class="small-12 columns text-center">

        <h3>Edit Menu Item</h3>
        <br/>

      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-8 columns">
        <label>Name
          <input type="text" id="name-label" name="name" value="{{ item.name }}">
        </label>
      </div>
      <div class="small-12 medium-4 columns">
        <label>Price
          <input type="text" size="30" name="price" value="{{ item.price }}">
        </label>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <label>Description
          <textarea size="250" name="description">{{ item.description }}</textarea>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <label>Course
          <input type="text" size=30 name="course" value="{{ item.course }}">
        </label>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns text-center">
        <div class="small-12 medium-6 medium-offset-3 columns">
          <ul class="button-group radius even-2">
            <li><button type="submit" class="button small success">Save</button></li>
            <li><button type="button" class="button small alert" onclick="cancel()">Cancel</button></li>
          </div>
        </ul>
      </div>
    </div>

  </form>

{% endblock content %}
