{% extends "modal.html" %}

{% block title %}
AllMenus
{% endblock title %}

{% block head_scripts %}
  {{ super() }}
  <script type="text/javascript">
    function cancel() {
      window.location.href = "{{ url_for('showRestaurants') }}";
    }
  </script>

{% endblock head_scripts %}

{% block content %}

  <h1>Edit Menu Item</h1>

  <form action="{{ url_for('editRestaurant', restaurant_id = restaurant.id) }}" method="post">

    <p>New Name:</p>
    <input type="text" size="30" name="name" placeholder="{{ restaurant.name }}">
    <input type="submit" value="Update">
    <input type="button" value="Cancel" onclick="cancel()">

  </form>

{% endblock content %}
