{% extends "foundation/base.html" %}

{% import "foundation/fixes.html" as fixes %}

{% block head %}
  {{ super() }}
  {{ fixes.ie8() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">

{% endblock head %}

{% block content %}
  <div class="fixed contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">My Site</a></h1>
        </li>
      </ul>
    </nav>
  </div>

  <div class="row">
    <div class="small-12 columns">

      <h1>All Restaurants</h1>

      {% with messages = get_flashed_messages() %}
        {% if messages %}

          {% for message in messages %}

            <div data-alert class="alert-box success radius">
              {{ message }}
              <a href="#" class="close">&times</a>
            </div>

          {% endfor %}

        {% endif %}
      {% endwith %}

      {% if restaurants %}

        {% for r in restaurants %}

        <div>

          <p>
            <strong>{{ r.name }}</strong><br/>
            <a href="{{ url_for('showMenu', restaurant_id = r.id) }}">See menu</a><br/>
            <a href="{{ url_for('editRestaurant', restaurant_id = r.id) }}">Edit</a> | <a href="{{ url_for('deleteRestaurant', restaurant_id = r.id) }}">Delete</a>
          </p>

        </div>

        {% endfor %}

      {% else %}

        <h4>No restaurants have been listed.</h4>

      {% endif %}

      <a href="{{ url_for('newRestaurant') }}">Add New Restaurant</a>

    </div>
  </div>

{% endblock content %}
