{% extends "base.html" %}

{% block title %}
Welcome to AllMenus!
{% endblock title %}

{% block content %}
  <h1 class="text-center">Welcome to AllMenus</h1>
  <h3 class="subheader text-center">If it has a menu, you'll find it here</h3>

  <div class="row">

    {% if restaurants %}

      {% for r in restaurants %}

        <div class="small-12 medium-6 columns text-center">
          <div class="panel">
            <h5><strong>{{ r.name }}</strong></h5>
            <ul class="button-group radius">
              <li><a href="{{ url_for('showMenu', restaurant_id = r.id) }}" class="button primary small">See menu</a></li>
              <li><a href="{{ url_for('editRestaurant', restaurant_id = r.id) }}" class="button primary small">Edit</a></li>
              <li><a href="{{ url_for('deleteRestaurant', restaurant_id = r.id) }}" class="button alert small">Delete</a></li>
            </ul>
          </div>
        </div>

      {% endfor %}

    {% else %}

      <h4>No restaurants have been listed.</h4>

    {% endif %}

    <div class="small-12 medium-6 columns end">
      <a href="{{ url_for('newRestaurant') }}" class="button primary small expand">Add New Restaurant</a>
    </div>
  </div>

{% endblock content %}
